.pool {
	height: 85px;
	padding: 5px 0;
	cursor: unset;
}

.pool div {
	display: flex;
	height: 100%;
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	flex-grow: 0;
	padding: 0px 10px;
	align-items: center;
	font-size: 14px;
}

.pool div:first-child {
	padding-left: 15px;
}

.pool div:nth-child(2) {
	flex-grow: 1;
}

.pool div:last-child {
	border: none;
}

.run-container {
	min-height: 720px;
	margin-bottom: 0px;
}

.pools-col .run-container {
	height: 720px;
}

.lane-row > div.lane-number {
	height: 85px;
}

.lane-row > div.placeholder {
	height: 85px;
}

.lane-row > div.spikes-container {
	min-height: 85px;
	font-size: 11px;
	padding: 5px;
}

.spikes-col .lane-number {
	display: none;
}

.pool-libraries {
	font-size: 11px;
}

#sepRadio {
	padding: 10px;
	background-color: #e7e7e7;
	border-radius: 10px;
}

#sepRadio label {
	border-right: solid 1px rgba(0, 0, 0, 0.15);
}

#sepRadio label:last-child {
	border-right: none;
}
