body {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
}

#home {
	position: fixed;
	top: 7px;
	left: 7px;
}

#home img {
	width: 25px;
}

h3 {
	font-weight: 500;
}

#pools-to-sequence {
	border-right: 2px solid lightgray;
}

table#pools td {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

table#pools td:nth-child(5) {
	white-space: nowrap;
	word-wrap: normal;
}

#spikes {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -2.5px;
}

.pool {
	height: 55px;
	border-radius: 10px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 5px;
	cursor: grab;
}

.spike-pool {
	height: 23px;
	width: calc(50% - 5px);
	flex-basis: auto;
	margin: 0 2.5px 5px 2.5px;
}

.pool.SR50,
tr.SR50 {
	background-color: #ffead2;
}
.pool.SR100,
tr.SR100 {
	background-color: #e4ffdf;
}
.pool.PE50,
tr.PE50 {
	background-color: #cdfaff;
}
.pool.PE100,
tr.PE100 {
	background-color: #ffe2ff;
}

.pool.spike-pool,
tr.spike {
	background-color: #f3f3f3;
}

.pool > span {
	flex-grow: 0;
	padding: 0px 25px;
}

.pool > span:first-child {
	padding-left: 25px;
	flex-grow: 1;
	font-size: large;
}

.pool-runtype {
	white-space: nowrap;
}

.spike-pool > span {
	padding: 0;
}

.spike-pool > span:first-child {
	padding-left: 5px;
	font-size: medium;
}

.spike-pool .pool-runtype {
	display: none;
}

.spike-pool > span:last-child {
	padding-right: 5px;
	font-size: small;
}

.row.spiked .pools-col {
	padding-right: 5px;
}

.row.spiked .spikes-col {
	padding-left: 5px;
}

.run-container {
	min-height: 480px;
	position: relative;
	margin-bottom: 20px;
}

.run-plan {
	padding-left: 50px;
	height: 100%;
	position: relative;
}

.run-ui {
	height: 100%;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}

.lane-row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.lane-row > div.lane-number {
	height: 55px;
	width: 40px;
	border-radius: 10px;
	border: 2px solid lightgray;
	margin-right: 10px;
	margin-bottom: 5px;
	text-align: center;
	font-size: x-large;
	flex-basis: auto;
	flex-grow: 0;
}

.spikes-col .lane-row > div.lane-number {
	min-height: 55px;
	height: auto;
}

.lane-row > div.lane-number > span {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	padding: 0;
	display: block;
}

.lane-row > div.placeholder {
	height: 55px;
	margin-bottom: 5px;
	width: calc(50% - 61px);
	border-radius: 10px;
	border: 2px dashed lightgray;
	flex-basis: auto;
	flex-grow: 1;
}

.lane-row > div.spikes-container {
	width: calc(50% - 61px);
	flex-basis: auto;
	flex-grow: 1;
	height: auto;
	min-height: 55px;
	margin-bottom: 5px;
	border-radius: 10px;
	border: 2px dotted lightgray;
	display: flex;
	flex-wrap: wrap;
}

.lane-row > div.spikes-container > .spike-pool {
	width: calc(50% - 2.5px);
	margin: 0;
	margin-bottom: 5px;
}

.lane-row > div.spikes-container > .spike-pool:nth-child(odd) {
	margin-right: 2.5px;
}

.lane-row > div.spikes-container > .spike-pool:nth-child(even) {
	margin-left: 2.5px;
}

.lane-row > div.spikes-container > .spike-pool:last-child,
.lane-row > div.spikes-container > .spike-pool:nth-last-child(2) {
	margin-bottom: 0px;
}
